html, body {
	width : 100%;
	height : 100%;
	margin : 0;
    font-size: 10pt;
}
.comment_box{
	float: left;
	margin-bottom: 5px;
}
.fb_photo{
	float: left;
	width: 30px;
	height: 30px;
	border: #333333 1px solid;
	margin: 3px;
	
}
.lil_name{
	font-size: 12px;
	line-height: 12px;
	font-weight: bold;
	margin-right: 3px;
}
.lil_comment{
	font-size: 12px;
	line-height: 12px;
}